.main {
  height: 90vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #f5f5f5;
  color: #000;
}
